*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerTodo{
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}
.container{
    background-color: #222;
    height: 80vh;
    width: 70vh;
    border: none;
    border-radius: 10px;
    overflow: scroll hidden hidden;
}